@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-cursive: 'Playwrite US Trad';
  --font-playfair: 'Playfair Display SC';

  --color-primary-1: #3c552d;
  --color-primary-2: #8e1616;
  --color-secondary: var(--color-black);
  --color-background: var(--color-white);
  --color-text: #9c9c9c;
  --color-border: #d1d1d1;
}
